@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body, main {
	position: relative;
	width: 100%;
	height: 100%;
}

html {
	font-size: 8px;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: Inter, Montserrat, sans-serif;
}

main {
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding: 2rem;
	width: 100%;
	color: #F5F7F9;
	background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

section {
	width: 100%;
	max-width: 100rem;
	min-width: 60rem;
	justify-self: center;
	padding: 2rem;
	z-index: 20;
}

.text-banner {
	text-align: justify;
	margin: 2rem auto;
	max-width: 44rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	word-spacing: 0.2rem;
	line-height: 3.8rem;
}

article {
	margin-top: 2rem;
	padding: 4rem;
}

form {
	margin-bottom: 9em;
	display: grid;
	grid-template-columns: 80% 20%;
	grid-template-rows: 6rem;
	grid-gap: 0.5rem;
}

.basic-input {
	height: 6rem;
	padding: 1rem;
	font-size: 3rem;
}

.dramatic-shadow {
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
}

header, footer {
	display: grid;
	align-items: center;
	height: 8rem;
	width: 100%;
	color: #f7f7f9;
	z-index: 2;
}

div, span, a, p, input, button, select, textarea, pre {
	font-size: 2rem;
}

a {
	color: #80bbf7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #8aa6c2;
}

input, button {
	font-family: Inter, sans-serif;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input {
	font-weight: 300;
}

input:disabled {
	color: #ccc;
}

button {
	color: #F5F7F9;
	background-image: linear-gradient(to bottom, #af0598 40%, #791a6c 60%);
	cursor: pointer;
	outline: none;
}

button:disabled {
	background-color: #ddd;
	background-image: none;
	color: #999;
}

button:focus {
	border-color: #666;
}

/* Wave */
@keyframes move_wave {
	0% {
			transform: translateX(0) translateZ(0) scaleY(1)
	}
	50% {
			transform: translateX(-25%) translateZ(0) scaleY(0.55)
	}
	100% {
			transform: translateX(-50%) translateZ(0) scaleY(1)
	}
}
.waveWrapper {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.bgTop {
	z-index: 15;
	opacity: 0.5;
}
.bgMiddle {
	z-index: 10;
	opacity: 0.75;
}
.bgBottom {
	z-index: 5;
}
.wave {
	position: absolute;
	left: 0;
	width: 200%;
	height: 100%;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	transform-origin: center bottom;
}
.waveTop {
	background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
	background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
	animation: move_wave 10s linear infinite;
}
.waveBottom {
	background-size: 50% 100px;
}
.waveAnimation .waveBottom {
	animation: move_wave 15s linear infinite;
}